<h1 class = "title text-lg-center"><%= @idea.title %></h1>
<section class="row">
  <section class="form-group-lg col-md-6 col-md-offset-3">
    <p> <%= @idea.body %></p>
    <%= image_tag(@idea.image_url) %>
    <% if can? :manage, @idea %>
    <p><%= link_to "edit", edit_idea_path(@idea) %> --
    <%= link_to "delete", idea_path(@idea), method: :delete, data: { confirm: "Are you sure?"} %></p>
    <% end %>
  </section>
</section>
    <!-- Create A Like-->
<%# user's cannot like their own idea %>
<section class="row">
  <section class="form-group-lg col-md-6 col-md-offset-3">
    <section class="like-idea">
        <% if @idea.user != current_user  %>
          <% like = @idea.like_for(current_user) %>
            <% if like %>
              <%= link_to fa_icon("thumbs-up"), idea_like_path(@idea, like), method: :delete  %>
              <% else %>
              <%= link_to fa_icon("thumbs-o-up"), idea_likes_path(@idea), method: :post %>
            <% end %>
          <p> <strong>Likes:</strong> <%= @idea.likes.count %></p>
        <% end %>
    </section>
  </section>
</section>

    <!-- Join an Idea -->
    <%# user's cannot become a member of their own group %>
<section class="row">
  <section class="form-group-lg col-md-6 col-md-offset-3">
    <section class="become-member">
      <% if @idea.user != current_user  %>
      <% member = @idea.member_of(current_user) %>
        <% if member %>
          <%= link_to "Leave Group", idea_member_path(@idea, member), method: :delete  %>
          <% else %>
          <%= link_to "Become a Member", idea_members_path(@idea), method: :post %>
        <% end %>
      <p><strong>Members:</strong> <%= @idea.members.count %></p>
      <% end %>
    </section>
  </section>
</section>
<!-- List Members -->
<section class="row">
  <section class="form-group-lg col-md-6 col-md-offset-3">
    <section class="list-members">
      <% if @members.present? %>
        <h2 class="title">Current Members</h2>
        <% @members.each do |member| %>
          <section class="member">
            <p> <%= member.full_name %> </p>
            <% end %>
          </section>
      <% end %>
    </section>
  </section>
</section>
<!-- Add a Comment -->
<section class="row">
  <section class="form-group-lg col-md-6 col-md-offset-3">
    <section class="add-comment">
      <% if current_user %>
      <% if @comment.errors.any? %>
      <div class="alert alert-danger">
            <p>The form contains <strong><%= pluralize(@comment.errors.count, "error") %></strong>.</p>
          <ul>
            <% @comment.errors.full_messages.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <h3>Add a comment</h3>
        <%= form_for [@idea, @comment] do |f|  %>
        <div class = "form-group">
          <%# f.label :body %>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <div class = "form-group">
          <%= f.submit "Submit", class: "btn btn-primary-outline btn-block" %>
        </div>
        <% end %>
      <% end %>
    </section>
  </section>
</section>

<% if @comments.present? %>
<section class="row">
  <section class="form-group-lg col-md-6 col-md-offset-3">
    <section class="list-comments">
      <h5>all comments: </h5>
      <ul>
          <% @comments.each do |comment| %>
          <li>
            <p><%= comment.body %> <span class="text-muted">(<%= comment.user_full_name %>)</span>
              
            <% if ( (can? :manage, comment) || (can? :destroy, comment.idea) ) %>
              <%= link_to "Edit", edit_idea_comment_path(@idea, comment) %>
              <%= link_to "Delete", [@idea, comment], method: :delete, data: {confirm: "Are you sure?"} %>
              <% end %>
            </p>
          </li>
          <% end %>
      </ul>
    </section>
  </section>
</section>
<% end %>
